.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff3f9;
    font-size: 14px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 48px;
    margin-right: 10px;
}

.logoName {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
